:root {
  // fonts
  --font-inter: 'Inter', sans-serif;
  --font-aeonik: 'Aeonik', sans-serif;

  // layout
  --layout-content-width: 1280px;

  // colors
  --color-neutral-900: #121315;
  --color-neutral-700: #393c3f;
  --color-neutral-600: #62626d;
  --color-neutral-500: #8d8d94;
  --color-neutral-400: #a1a1a8;
  --color-neutral-300: #cfced2;
  --color-neutral-200: #e0e1e4;
  --color-neutral-100: #eff0f3;
  --color-neutral-50: #f7f8fa;
  --color-neutral-0: #fff;

  --color-blue-normal: #0077ff;
  --color-blue-400: #68a6ec;

  --color-green-normal: #00b674;

  --color-red-normal: #ef4444;

  --color-yellow-normal: #fcd589;

  --color-grey: #eff0f3;
  --color-grey-500: #66778e;
}
