@import 'styles/abstract/mixins';

.hero {
}

.intro {
  background-color: var(--color-neutral-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__content {
    max-width: 880px;
    width: 100%;
    padding: 148px 20px 248px 20px;
    text-align: center;
    z-index: 1;

    @include respond(sm) {
      padding: 24px;
      padding-bottom: 138px;
    }
  }
}

.left-svg-shape {
  position: absolute;
  left: 0;
  top: 168px;
  z-index: 0;

  @include respond(sm) {
    display: none;
  }
}

.right-svg-shape {
  position: absolute;
  right: 0;
  top: 198px;
  z-index: 0;

  @include respond(sm) {
    display: none;
  }
}

.title {
  margin-bottom: 16px;
  color: var(--color-neutral-400);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;

  @include respond(sm) {
    display: none;
  }
}

.subtitle {
  color: var(--color-neutral-0);
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.04em;
  font-family: var(--font-aeonik);
  font-weight: 500;
  margin-bottom: 24px;

  @include respond(sm) {
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    letter-spacing: -0.02em;
  }

  span {
    position: relative;

    svg {
      position: absolute;
      bottom: 3px;
      left: 0;
    }
  }
}

.info {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
  color: var(--color-neutral-400);

  @include respond(sm) {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * + * {
    margin-left: 16px;
  }

  @include respond(xs) {
    align-items: stretch;
    flex-direction: column;

    & > * + * {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  button {
    padding: 12px 24px;
  }
}

div.table {
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 64px 132px -20px rgba(141, 141, 148, 0.08);
  margin-top: -100px;
  padding: 0;
  max-width: var(--layout-content-width);
  position: relative;

  @include respond(sm) {
    display: none;
  }

  &__footer {
    padding: 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-grey);
  }

  &__coins {
    margin-right: 36px;
    display: flex;
    flex-direction: row-reverse;

    & > * + * {
      margin-right: -5px;
    }

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 100%;
      outline: var(--color-neutral-0) solid 3px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-right: auto;

    span {
      font-size: 18px;
      line-height: 32px;
    }

    span:first-of-type {
      font-weight: 500;
    }

    span:last-of-type {
      color: var(--color-grey-500);
    }

    svg {
      color: var(--color-neutral-300);
      height: 12px;
      width: auto;
      margin: 0 12px;
    }
  }
}

.table-coin-column {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;

  img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-right: 16px;
    object-fit: cover;
  }

  span:first-of-type {
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
  }

  span:last-of-type {
    font-size: 16px;
    color: var(--color-neutral-500);
  }
}

.table-row {
  td {
    text-align: center;
    font-size: 16px;

    &[data-green] {
      color: var(--color-green-normal);
      font-size: 14px;
    }
  }
}

.table-action-column {
  display: flex;
  justify-content: flex-end;
}

.mobile-table {
  display: none;
  margin-top: -90px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 64px 132px -20px rgba(141, 141, 148, 0.08);
  background-color: var(--color-neutral-0);
  flex-direction: column;
  position: relative;

  @include respond(sm) {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--color-grey);

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__asset {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 12px;
    grid-template-rows: auto auto;
    align-items: center;

    img {
      height: 32px;
      width: 32px;
      grid-column: 1 / span 1;
      grid-row: 1 / -1;
      border-radius: 100px;
    }

    span:first-of-type {
      font-weight: 500;
      grid-column: 2 / -1;
    }

    span:last-of-type {
      grid-column: 2 / -1;
      color: var(--color-grey-500);
    }
  }

  &__value {
    display: flex;
    flex-direction: column;

    span:first-of-type {
    }

    span:last-of-type {
      color: var(--color-green-normal);
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    padding: 16px 24px;
    grid-gap: 12px;
  }

  div.mobile-table__coins {
    @extend .table__coins;
    justify-content: flex-end;

    img {
      height: 32px;
      width: 32px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;

    span:first-of-type {
      font-weight: 500;
    }

    span:last-of-type {
      font-size: 12px;
      line-height: 20px;
      color: var(--color-neutral-400);
    }
  }
}
