@import 'styles/abstract/mixins';

.blockchains {
  background-color: var(--color-neutral-900);
}

.content {
  padding: 148px 0 192px 0;
  display: flex;
  flex-direction: column;

  @include respond(sm) {
    padding: 64px 0;
  }
}

.subtitle {
  color: var(--color-neutral-500);
  margin-bottom: 16px;
  font-size: 18px;
  text-align: center;
  line-height: 32px;

  @include respond(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.title {
  font-weight: 500;
  font-size: 64px;
  line-height: 72px;
  margin: 0 auto;
  margin-bottom: 96px;
  font-family: var(--font-aeonik);
  color: var(--color-neutral-0);
  text-align: center;
  max-width: 855px;
  letter-spacing: -0.04em;

  @include respond(sm) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 64px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 34px;
  grid-row-gap: 80px;

  @include respond(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}

.item {
  border: 1px solid var(--color-neutral-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  flex: 0 1 260px;
  position: relative;

  @include respond(sm) {
    padding: 16px 24px;

    &:after {
      content: ' ';
      border: 1px dashed var(--color-neutral-600);
      position: absolute;
      top: 50%;
      right: -24px;
      width: 24px;
    }

    &:before {
      content: ' ';
      border: 1px dashed var(--color-neutral-600);
      position: absolute;
      bottom: -24px;
      left: 50%;
      height: 24px;
    }
  }

  img {
    height: 56px;
    width: 56px;
    border-radius: 100px;
    margin-bottom: 16px;
    object-fit: cover;

    @include respond(sm) {
      height: 40px;
      width: 40px;
      margin-bottom: 12px;
    }
  }

  span:first-of-type {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: var(--color-neutral-0);

    @include respond(sm) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  span:last-of-type {
    color: var(--color-neutral-600);
    font-weight: 500;
  }

  @include respond(sm) {
    &:nth-child(3) {
      &::after {
        display: none;
      }
    }

    &:nth-child(7) {
      &::after {
        display: none;
      }
    }

    &:nth-child(11) {
      // binance smart chain
      order: 1;
      grid-column: 1 / -1;

      &::after,
      &::before {
        display: none;
      }
    }

    &:nth-child(13) {
      &::after {
        display: none;
      }
    }
  }
}

.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(sm) {
    display: none;
  }

  div {
    height: 12px;
    width: 12px;
    background-color: var(--color-blue-normal);
    z-index: 2;
    border-radius: 100px;
  }

  &::before {
    content: ' ';
    width: 80px;
    height: 1px;
    position: absolute;
    border: 1px dashed var(--color-neutral-700);
    z-index: 1;
  }

  &::after {
    content: ' ';
    width: 1px;
    height: 163px;
    border: 1px dashed var(--color-neutral-700);
    position: absolute;
    top: 100%;
    z-index: 1;
  }

  &:nth-child(8) {
    display: none;
  }

  &:nth-child(10),
  &:nth-child(12) {
    &::after {
      display: none;
    }
  }
}
